.projectsSection {
  height: auto;
  min-height: unset;
  padding: 0px 0px 32px;
}

.projectsSectionContainer {
}

.projectsCardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.projectsCardButton {
  display: block;
  width: 100%;
  text-align: center;
}

@media (min-width: 800px) {
  .projectsCardsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .projectsCardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
