@keyframes fade-tooltip {
  0% {
    visibility: visible;
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.sidebarToggleTip {
  position: fixed;
  top: 64px;
  width: 100vw;
  padding: 8px 0px;

  background-color: var(--color-black-faded);
  color: var(--color-white);

  animation-name: fade-tooltip;
  animation-duration: 10s;
  animation-fill-mode: forwards;

  z-index: 9;
}

.sidebar {
  display: grid;
  grid-template-rows: 64px calc(100vh - 64px);
  grid-template-areas: "toggle" "body";
  justify-items: center;
  align-items: stretch;

  position: fixed;
  top: 0px;
  width: 64px;
  height: 64px;
  overflow: hidden;
  background-color: var(--color-black-faded);

  transition-property: left height;
  transition-duration: var(--time-transition);

  z-index: 10;
}

.sidebarShown {
  height: 100vh;
}

.sidebarRight {
  left: calc(100% - 64px);
}

.sidebarLeft {
  left: 0px;
}

.sidebarToggle {
  grid-area: toggle;
  align-self: start;
  position: relative;
  width: 48px;
  height: 48px;
  margin-top: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebarLogo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.sidebarLogo path {
  fill: var(--color-silver);
  transition: var(--time-transition);
}

.sidebarToggle:hover .sidebarLogo path {
  fill: var(--color-white);
}

.sidebarBody {
  grid-area: body;
  display: grid;
  grid-template-rows: 1fr 64px;
  grid-template-areas: "navigation" "position-toggle";
  align-items: center;
  justify-items: center;
}

.sidebarNavigation {
  grid-area: navigation;
  align-self: start;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.sidebarNavigationSeparator {
  margin: 16px 0px;
  width: 100%;
  height: 2px;
  background-color: var(--color-silver);
}

.sidebarLink {
  margin: 8px 0px;
  font-size: 1.25rem;
  text-align: center;
  color: var(--color-silver);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transition);
}

.sidebarLink:hover {
  color: var(--color-white);
}

.sidebarSocialFacebook:hover {
  color: var(--color-facebook);
}

.sidebarSocialTwitter:hover {
  color: var(--color-twitter);
}

.sidebarSocialYoutube:hover {
  color: var(--color-youtube);
}

.sidebarSocialInstagram:hover {
  color: var(--color-instagram);
}

.sidebarMoveButton {
  grid-area: position-toggle;
  display: none;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-silver);
  font-size: 1.5rem;
  transition-property: color;
  transition-duration: var(--time-transition);
}

.sidebarShown .sidebarMoveButton {
  display: block;
}

.sidebarMoveButton:hover {
  color: var(--color-white);
}

@media (max-height: 640px) {
  .sidebarToggleTip {
    display: none;
  }
  .sidebar {
    grid-template-rows: 64px;
    grid-template-columns: 64px calc(100vw - 64px);
    grid-template-areas: "toggle body";
    justify-items: stretch;
    align-items: center;
    width: 100vw;
    height: 64px;
  }

  .sidebarShown {
    height: 64px;
  }

  .sidebarLeft,
  .sidebarRight {
    left: 0px;
  }

  .sidebarToggle {
    margin-left: 8px;
  }

  .sidebarBody {
    grid-template-rows: 64px;
    grid-template-columns: 1fr;
    grid-template-areas: "navigation";
  }

  .sidebarNavigation {
    justify-self: start;
    flex-direction: row;
    margin-left: 8px;
  }

  .sidebarNavigationSeparator {
    margin: 0px 16px;
    width: 2px;
    height: 100%;
  }

  .sidebarLink {
    margin: 10px 12px;
  }

  .sidebarMoveButton {
    display: none !important;
  }
}

@media (min-height: 800px) and (min-height: 640px) {
  .sidebarNavigation {
    margin-top: 16px;
  }

  .sidebarLink {
    margin: 12px 0px;
  }

  .sidebarNavigationSeparator {
    margin: 32px 0px;
  }
}

@media (min-width: 600px) and (min-height: 640px) {
  .sidebarToggleTip {
    display: none;
  }

  .sidebar {
    height: 100%;
  }

  .sidebarMoveButton {
    display: block;
  }

  .sidebarBody {
    display: grid;
    grid-template-rows: 1fr 64px;
    grid-template-areas: "navigation" "position-toggle";
    align-items: center;
    justify-items: center;
  }
}
